<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello WebSocket</title>
        <link th:href="@{~/fxbooth/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{~/fxbooth/main.css}" rel="stylesheet">
        <link th:href="@{~/fxbooth/dataTables/media/css/jquery.dataTables.min.css}" rel="stylesheet">
        <link th:href="@{~/fxbooth/flags/32/flags-32.css}" rel="stylesheet">
        <link th:href="@{~/fxbooth/flags/48/flags-48.css}" rel="stylesheet">
        <script th:src="@{~/fxbooth/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{~/fxbooth/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{~/fxbooth/webjars/stomp-websocket/stomp.min.js}"></script>
        <script th:src="@{~/fxbooth/app.js}"></script>
        <script th:src="@{~/fxbooth/dataTables/media/js/jquery.dataTables.js}"></script>
    </head>
    <body>
        <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
            enabled. Please enable
            Javascript and reload this page!</h2></noscript>
        <header>
            <nav class="navbar navbar-default fx-navbar-white full-width">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="https://www.kasikornbank.com">
                                    <img th:src="@{/images/logo/kasikornthai-logo.jpg}" alt="KASIKORNTHAI_LOGO" style="width:40px; height:30px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://www.kasikornbank.com">
                                <img th:src="@{/images/logo/kasikornbank.png}" alt="KASIKORNBANK_LOGO" style="width:120px; height:30px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="main-body full-height container">
            <div class="row topic"><div class="col-sm-12"><p class="font-table-td">CURRENCY EXCHANGE RATES</p></div></div>
            <div class="row fx-navbar-white">
                <div class="col-sm-12">
                    <div class="rat-p-0-l-50"></div>
                    <div class="rat-p-100-l-50">
                        <div class="row">
                            <div class="col-sm-4">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="date-body">DATE: </label>
                                        <input type="text" id="date-body" class="form-control input-sm"/>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="time-body">TIME: </label>
                                        <input type="text" id="time-body" class="form-control input-sm"/>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="page-body">PAGE: </label>
                                        <input type="text" id="page-body" class="form-control input-sm"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row full-height">
                <div class="col-sm-12">
                    <div id="rate-table" class="rat-p-100-l-50">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="currency" class="table table-dark table-bordered table-show">
                                    <thead>
                                    <tr>
                                        <th class="th-cur font-table-th" colspan="2" rowspan="2">Currency</th>
                                        <th class="th-buy font-table-th">Buying</th>
                                        <th class="th-sell font-table-th">Selling</th>
                                    </tr>
                                    <tr>
                                        <th class="th-buy font-table-sub-th">Bank Notes</th>
                                        <th class="th-sell font-table-sub-th">Bank Notes</th>
                                    </tr>
                                    </thead>
                                    <tbody id="curs-body"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="advertise" class="rat-p-100-l-50 full-height">
                        <img th:src="@{/images/AW_Media/ADs_Land_962x800pix.jpg}" class="img-fluid full-height full-width"/>
                        <!--<video id="myVideo" class="full-height full-width" controls>
                            <source src="C:\fxbooth\board\vdo\fx_booth_test.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>-->
                    </div>
                </div>
            </div>
        </div>
        <div id="fx-footer" class="footer container full-width">
            <div class="row fx-navbar-white footer-topic">
                <p>CURRENCY EXCHANGE RATES</p>
            </div>
        </div>
        <input type="hidden" id="booth" th:value="${code}">
        <input type="hidden" id="rows" th:value="${rows}">
        <input type="hidden" id="pins" th:value="${pins}">
    </body>
</html>
